---
import navigation from '../data/navigation.json'
import {lang} from '../data/lang.ts'
import about from '../data/about.json'

import {breakpoint} from '../config/appConfig'
const {class: className} = Astro.props

---

<nav class={`
  text-right
  z-40
  ${className}
`}>
  <div 
  id="nav-background"
  class="
    fixed
    h-32
    z-10
    opacity-0
    w-screen
    top-0
    "

  ></div>
  <div class="
    absolute
    flex 
    flex-col  
    flex-wrap
    items-end
    left-1/2
    translate-x-[-50%]
    z-20
    ">
  <a 
    id="home-button"
    href="#" 
    class={`
      whitespace-nowrap
      text-6xl
      lg:text-9xl
      4xl:text-10xl
      font-secondary
      font-bold
      text-secondary
      italic
      mb-2
      text-wide
      mt-4
      lg:mt-0
      
    `}
    set:html={about.name[lang]}
  
  ></a>
  <div class="navigator">
    {navigation.map(link => 
      <div>
      
        <a 
          href={link.url}
          class="
          inline-block
          accordionElement
          whitespace-wrap
          text-5xl
          text-medium
          text-lighter
          mb-1
          hover:text-secondary  
          "
        >{link.name[lang as 'en' | 'es']}
          <div 
            class="
              hover-line
              bg-primary 
              w-[25rem]  
              h-[2px]"
            ></div>
        </a>
  
        
    </div>
      )}
      


  </div>
  </div>
</nav>


<script> 
  const homeButon = document.getElementById('nav-background');
  const accordionElements = document.querySelectorAll('.accordionElement');
  window.addEventListener('scroll', () => {
    if (window.scrollY > 300) { 
      homeButon?.classList.add('background-dark');
      accordionElements.forEach(element => {
        element?.classList.add('collapse')
      });

    } else {
      homeButon?.classList.remove('background-dark');
      accordionElements.forEach(element => {
        element?.classList.remove('collapse');
      });
    }
  });
</script>

<style>

#nav-background {
  transition: height 0.5s ease-in-out, opacity 0.2s ease-in-out;
}

#home-button {
  --stroke-color: theme('colors.primary-accent');
  --stroke-dark: theme('colors.primary-dark');
  /* text-shadow: var(--stroke-color) 1px 0px 0px, var(--stroke-color) 0.540302px 0.841471px 0px, var(--stroke-color) -0.416147px 0.909297px 0px, var(--stroke-color) -0.989992px 0.14112px 0px, var(--stroke-color) -0.653644px -0.756802px 0px, var(--stroke-color) 0.283662px -0.958924px 0px, var(--stroke-color) 0.96017px -0.279415px 0px; */
  /* text-shadow: var(--stroke-color) 2px 0px 0px, var(--stroke-color) 1.75517px 0.958851px 0px, var(--stroke-color) 1.0806px 1.68294px 0px, var(--stroke-color) 0.141474px 1.99499px 0px, var(--stroke-color) -0.832294px 1.81859px 0px, var(--stroke-color) -1.60229px 1.19694px 0px, var(--stroke-color) -1.97998px 0.28224px 0px, var(--stroke-color) -1.87291px -0.701566px 0px, var(--stroke-color) -1.30729px -1.5136px 0px, var(--stroke-color) -0.421592px -1.95506px 0px, var(--stroke-color) 0.567324px -1.91785px 0px, var(--stroke-color) 1.41734px -1.41108px 0px, var(--stroke-color) 1.92034px -0.558831px 0px; */
  text-shadow: var(--stroke-dark) 1px 0px 0px, var(--stroke-dark) 0.540302px 0.841471px 0px, var(--stroke-dark) -0.416147px 0.909297px 0px, var(--stroke-dark) -0.989992px 0.14112px 0px, var(--stroke-dark) -0.653644px -0.756802px 0px, var(--stroke-dark) 0.283662px -0.958924px 0px, var(--stroke-dark) 0.96017px -0.279415px 0px
  ,var(--stroke-color) 3px 0px 0px, var(--stroke-color) 2.83487px 0.981584px 0px, var(--stroke-color) 2.35766px 1.85511px 0px, var(--stroke-color) 1.62091px 2.52441px 0px, var(--stroke-color) 0.705713px 2.91581px 0px, var(--stroke-color) -0.287171px 2.98622px 0px, var(--stroke-color) -1.24844px 2.72789px 0px, 
  var(--stroke-color) -2.07227px 2.16926px 0px, var(--stroke-color) -2.66798px 1.37182px 0px, var(--stroke-color) -2.96998px 0.42336px 0px, var(--stroke-color) -2.94502px -0.571704px 0px, var(--stroke-color) -2.59586px -1.50383px 0px, var(--stroke-color) -1.96093px -2.27041px 0px, 
  var(--stroke-color) -1.11013px -2.78704px 0px, var(--stroke-color) -0.137119px -2.99686px 0px, var(--stroke-color) 0.850987px -2.87677px 0px, var(--stroke-color) 1.74541px -2.43999px 0px, var(--stroke-color) 2.44769px -1.73459px 0px, var(--stroke-color) 2.88051px -0.838247px 0px,
  var(--stroke-color) -1.11013px -2.78704px 0px, var(--stroke-color) -0.137119px -2.99686px 0px, var(--stroke-color) 0.850987px -2.87677px 0px, var(--stroke-color) 1.74541px -2.43999px 0px, var(--stroke-color) 2.44769px -1.73459px 0px, var(--stroke-color) 2.88051px -0.838247px 0px;
  /* -webkit-text-stroke: 1px theme('colors.primary-dark'); */
}

.hover-line {
  width: 100%;
  opacity: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.25s ease-in-out, opacity 0.15s ease-in-out;
}

.accordionElement:hover .hover-line {
  transform: scaleX(1);
  opacity: 100%;
}

.accordionElement {
  transform: scaleY(1);
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.collapse {
  transform: scaleY(0);
}

.background-dark {
  background-color: #1a1a1a;
  margin: 0 auto;
  opacity:100%;
  height: 140px;
  box-shadow: 0px 8px 5px -8px rgba(0,0,0,0.75);
}


</style>



