---

import {lang} from '../data/lang.ts'
import about from '../data/about.json'
import baseUrl from '../data/baseUrl.ts'
const portrait = baseUrl + '/self-portrait.png'
---

<div class="relative top-10">
  <img  
    src={portrait} 
    alt="A picture of Miguel de Mendoza" 
    class="
      inline-block
      w-[250px] 
      md:w-[400px]
      mt-[8%]
    "
  >
  <div 
    class="
      absolute
      align-top
      text-left
      text-right
      inline-block
      left-[5%]

      "
  >
    <h1 
    class="
      whitespace-nowrap
      text-4xl
      md:text-7xl
      font-secondary
      font-bold
      text-secondary
      italic
      mb-2
      "
      set:html={about.name[lang]}
    ></h1>
    <h2
      class="
        whitespace-wrap
        text-2xl
        text-medium
        " 
      set:html={about.title[lang]}
    ></h2>
    <h3
      class="
        text-xl
        font-medium
        " 
      set:html={about.tagline[lang]}
    ></h3>
  </div>
</div>