---

import {lang} from '../data/lang.ts'
import about from '../data/about.json'
const portrait = '/public/self-portrait.png'
---

<img class="inline-block" src={portrait} alt="A picture of Miguel de Mendoza" width="450">
<div class="inline-block">
  <h1 set:html={about.name[lang]}></h1>
  <h2 set:html={about.title[lang]}></h2>
  <h3 set:html={about.tagline[lang]}></h3>
</div>