---
import skills from '../data/skills.json'
import {lang} from '../data/lang'
---

<h1 set:html={skills.title[lang]}></h1>
<div class="animation-skills-section">
  <h2 set:html={skills.animation.title[lang]}></h2>
  <ul>
    {skills.animation.skills.map(skill => (
      <li set:html={skill[lang]}></li>
    ))}
  </ul>
</div>
<div class="dev-skills-section">
  <h2 set:html={skills.dev.title[lang]}></h2>
  <ul>
    {skills.dev.skills.map(skill => (
      <li set:html={skill[lang]}></li>
    ))}
  </ul>
</div>